.imovelEditCard__card {
  position: relative;
  width: 100%;
  display: flex;
}

.imovelEditCard__card__image {
  min-width: 155px;
  height: 155px;
  float: left;
  flex-basis: auto;
}

.imovelEditCard__card__content {
  flex-grow: 1;
}

.imovelEditCard__card__content__row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.imovelEditCard__card__content__row--group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.imovelEditCard__card__content__row .textField {
  padding-right: 10px;
  flex-grow: 1;
}

.imovelEditCard__icon {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 10;
  cursor: pointer;
}

.mdi-icon {
  margin: 0 5px;
}

.edit--color:hover {
  fill: #2196F3;
}

.cancel--color:hover {
  fill: #F44336;
}

.check--color:hover {
  fill: #4CAF50;
}
